@page {
  size: A4;
}

body {
  font-size: 12pt;
  padding: 1em;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: .5em;
}

.char {
  width: 100%;
  display: inline-block;
  /* background: yellow; */
}

.char::after {
  background: white;
  border: solid black 1px;
  width: 1em;
  height: 1em;
  display: block;
  content: 'M';
  color: transparent;
  padding: 1em;
}

